<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Normal Login{% endblock %}</title>
</head>
<body>
<h2>Normal Login Using Built in Django Middleware</h2>
{% if user.is_authenticated %}
    Welcome {{ user.username }}!
    <a href="{% url 'logout' %}?next={% url 'home' %}">logout</a>
{% else %}
    <a href="{% url 'login' %}">login</a>
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}

{% block content %}
{% endblock %}
</body>
</html>